<html><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Viewers</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">
  <style></style>
  <script type="text/javascript" src=""></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
</head>
<style>
  .card{
      background-color: #FFF5E0;
  }
</style>
<body oncontextmenu="return false" class="snippet-body" style="background-image:url('https://cutewallpaper.org/21/rainy-weather-wallpaper/Wallpaper-MiUI-8-Rainy-Weather-background-Minimal-HD-.png');">
  <nav class="navbar" style="background-color: #141E46;vertical-align: middle;">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://www.cbit.ac.in/" target="_blank" style="vertical-align: middle;">
            <img src="https://upload.wikimedia.org/wikipedia/en/6/68/Chaitanya_Bharathi_Institute_of_Technology_logo.png" alt="Logo" width="30" height="34" class="d-inline-block align-text-top">
            <span style="vertical-align: middle">&nbsp;Event Management System</span>
        </a>
<div class="inner" style="vertical-align: middle;padding: 5 0 0 0 ">
        <form class="d-flex" role="search">
            {% csrf_token %}
            <a href="/accounts/login/" style="color: white; text-decoration: none; font-family: 'Young Serif', serif; font-size:20px;vertical-align: middle; ">Login</a>
            <span style="color: white; padding: 0 6px;vertical-align: middle">|</span>
            <a href="/register/" style="color: white; text-decoration: none; font-family: 'Young Serif', serif;font-size:20px;vertical-align: middle">Register</a>
        </form>
    </div></div>
</nav>

<section class="pt-5 pb-5">
<div class="container">
<div class="row">
<div class="col-6">
<h2 class="mb-3" style="font-family: 'Young Serif', serif; color: #FFF9C9">Upcoming Events </23>
</div>
<div class="col-6 text-right">
<a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev" style="background-color: #141E46;">
<i class="fa fa-arrow-left"></i>
</a>
<a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next" style="background-color: #141E46;">
<i class="fa fa-arrow-right"></i>
</a>
</div>
<div class="col-12">
<div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

<div class="carousel-inner">
<!--<div class="carousel-item active">
<div class="row">

<div class="col-md-4 mb-3">
  <div class="card">
      <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
      <div class="card-body">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <div class="card-details">
              <p class="card-text"><strong>Organised by: </strong> Your Club Name</p>
              <p class="card-text"><strong>Date:</strong> October 15, 2023</p>
              <p class="card-text"><strong>Time:</strong> 2:00 PM</p>
              <p class="card-text"><strong>Location:</strong> Your Event Location</p>
              <p class="card-text"><strong>Registration Fee:</strong>Rs 0</p>

          </div>
      </div>
  </div>
  
</div>
<div class="col-md-4 mb-3">
  <div class="card">
      <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">
      <div class="card-body">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <div class="card-details">
              <p class="card-text"><strong>Organised by: </strong> Your Club Name</p>
              <p class="card-text"><strong>Date:</strong> October 15, 2023</p>
              <p class="card-text"><strong>Time:</strong> 2:00 PM</p>
              <p class="card-text"><strong>Location:</strong> Your Event Location</p>
              <p class="card-text"><strong>Registration Fee:</strong>Rs 0</p>

          </div>
      </div>
  </div>
</div>
<div class="col-md-4 mb-3">
  <div class="card">
      <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">
      <div class="card-body">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <div class="card-details">
              <p class="card-text"><strong>Organised by: </strong> Your Club Name</p>
              <p class="card-text"><strong>Date:</strong> October 15, 2023</p>
              <p class="card-text"><strong>Time:</strong> 2:00 PM</p>
              <p class="card-text"><strong>Location:</strong> Your Event Location</p>
              <p class="card-text"><strong>Registration Fee:</strong>Rs 0</p>

          </div>
      </div>
  </div>
</div>

</div>
</div>-->
<div class="carousel-item-active">
<div class="row">
{% for res in research %}
<div class="col-md-4 mb-3">
  <div class="card">
    <center>
      <img class="img-fluid" alt="100%x280" style="object-fit:contain;" src={{res.eimg}}></center>
      <div class="card-body">
          <h4 class="card-title">{{res.ename}}</h4>
          <p class="card-text">{{res.desc}}</p>
          <div class="card-details">
              <p class="card-text"><strong>Organised by: </strong> {{res.cname}}</p>
              <p class="card-text"><strong>Date: </strong> {{res.edate}}</p>
              <p class="card-text"><strong>Time: </strong> {{res.etime}}</p>
              <p class="card-text"><strong>Location: </strong> {{res.evenue}}</p>
              <p class="card-text"><strong>Registration Fee: </strong>Rs {{res.efee}}</p>
              <p class="card-text"><strong>Description: </strong>{{res.edesc}}</p>
              <p class="card-text"><strong>To register: </strong><a href="{{res.elink}}">{{res.elink}}</a></p>

          </div>
      </div>

  </div>
</div>
{%endfor%}



</div>
</div>

</div>
</div>
</div>
</div>
</div>
</section>
<script type="text/javascript"></script>

</body></html>